{% extends 'layout/post_layout.html' %}
{% block body %}

{% include "member/components/sidebar.html" %}
<div class="container ">
  {% if contents[0] %}
  <div class="row justify-content-center py-5">
    <div class="col-md-8">
      {% for item in contents %}
      <div class="card  mb-3">
        <div class="card-header">
          {{item.title}} / {{item.category}}
        </div>
        <div class="card-body">
          {{item.description}}
        </div>
        <div class="card-footer">
          {{item.updatedAt}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center py-5">
    <div class="col-md-8">
      <div class="card  mb-3">
        <div class="card-header">
          <p>No Post</p>
        </div>
        <div class="card-body">
          <p>Go To <a href="/member/post/write.html">Write</a> Page to make Post </p>
        </div>
        <div class="card-footer">
          <a href="/member/post/write.html" class="btn btn-primary">Write</a>
        </div>
      </div>

    </div>
  </div>
  {% endif %}



</div>




{% endblock %}