<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Custom fonts for this template-->
  <link href="/module/skin1/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!--axios-->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="/module/skin1/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/common/basic.css">
  {% block head_script %}
  {% endblock %}
  <title>Document</title>
</head>

<body>
  {% block header %}
  {% endblock %}

  {% block body %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  <!-- Bootstrap core JavaScript-->
  <script src="/module/skin1/vendor/jquery/jquery.min.js"></script>
  <script src="/module/skin1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/module/skin1/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/module/skin1/js/sb-admin-2.min.js"></script>
  <script>
    window.onload = () => {
      const error = new URL(location.href).searchParams.get("error");
      if (error) {
        alert(error)
      }
    }
  </script>
</body>

</html>